.text-decoration-none{
  text-decoration: none;
}
a{
  &:hover{
    p,span{
      color: #dfb5a6;
    }
  }
}
h1,h2,h3,h4,h5{
  font-weight: 500;
  line-height: 1.2;
  color: #616161;
}
h1{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;

  @media(max-width: 992px){
    font-size: 1.4rem;
  }
}
.content-text{
  font-size: 1.15rem;
  color: #69707a;
  @media(max-width: 992px){
    font-size: .9rem;
  }
}
a svg{
  transition: all .3s ease-in-out;
}
a svg:hover{
  transform: scale(1.2);
}
